body {
}

.sample-table {
  padding: 5px;
  border-radius: 0.3em;
  box-shadow: #191919 2px 1px 2px;
  width: 500px;
}

.result {
  width: 500px;
}

.table-cell {
  horizontal-align: right;
}

.table-cell {
  padding: 2px;
  padding: 5px;
  vertical-align: top;
}

.sample-canvas {
  border: solid black 1px;
}
